@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'TmoneyRoundWindExtraBold';
    font-weight: normal;
    font-style: normal;
}


body,
header,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
form,
label,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-family: verdana, arial;
    font-size: 10px
}

body {
    min-width: 320px
}

img {
    border: 0
}

ul,
ol {
    list-style: none
}

em,
address {
    font-style: normal
}

a {
    text-decoration: none
}

a:hover,
a:active,
a:focus {
    text-decoration: none
}